.section{
    box-shadow: 2px 5px 10px black;
    font-size: 1,25rem;
    width: 300px;
    font-size: 1,25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

@media screen and (min-width: 993px){
    .grid{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        gap: 10px;
        }
}

@media screen and (min-width: 768px) and (max-width:992px){
    .grid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    }
} 

@media screen and (max-width: 767px){
    .grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    }
} 

h2{
    margin: 2px;
    font-size: 28px;
}

.section>p{
    color: var(--primary-inverse);
    padding: 16px;
}

.section>a{
    --color: white;
}