nav{
    background-color: var(--primary);
    padding: 10px; 
}

.home{
    --color: var(--color);
}

[role=link].contrast, a.contrast,.about {
    --color: var(--primary-hover);
}

:root:not([data-theme=dark]), [data-theme=light] {
    --contrast-hover: var(--primary-hover);
    --contrast: var(--primary-hover);
} 

.listbox{
    width: 144px;
}



