nav{
    width: 100%;
    background-color: var(--primary);
    margin-right: auto;
    justify-content: space-between;
    padding: 10px; 
}


[role=link].contrast:focus, a.contrast:focus {
    background-color: rgb(26, 55, 106);
}

.home{
    --color: var(--color);
}

[role=link].contrast, a.contrast,.about {
    --color: var(--primary-hover);
}

:root:not([data-theme=dark]), [data-theme=light] {
    --contrast-hover: var(--primary-hover);
    --contrast: var(--primary-hover);
} 

.listbox{
    width: 144px;
}

.listbox>li>a {
    color: var(--primary-inverse);
}

